.root {
    -fx-background-color: #232323;

}

.label {
    -fx-font-size: 15px;
    -fx-font-family: CALIBRI;
    -fx-text-fill: WHITE;

    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1 0;

    -fx-min-width: 588px;
    -fx-max-width: 588px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
}

.controlButtons {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-border-radius: 0em;
    -fx-background-radius: 0em;

    -fx-min-height: 15px;
    -fx-max-height: 15px;
    -fx-max-width: 20px;
    -fx-min-width: 20px;

    -fx-text-fill: #cccccc;
    -fx-font-size: 10px;
}

.media-name {
    -fx-font-family: "CALIBRI";
    -fx-font-size: 13px;
    -fx-text-fill: white;

    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1 0;

    -fx-min-width: 588px;
    -fx-max-width: 588px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #232323;
}

.context-menu {
    -fx-background-color: #484848;

}

.menu-item {
    -fx-background-color: #484848;
    -fx-border-color: transparent;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-family: CALIBRI;
}

.menu-item focused .label {
    -fx-text-fill: white;
}

.menu-item focused {
    -fx-background-color: #626262;
}